# Universal Sentence Encoder Baseline for E-c Task

In this notebook, we will walk you through the process of reproducing the Universal Sentence Encoder baseline for the E-c task.

## Loading Required Modules

First off, we start by loading the needed python libraries.

In [1]:
import os
import tensorflow as tf
from tensorflow import keras
import tensorflow_hub as hub
import pandas as pd
import tensorflow_text
from tensorflow import keras
from sklearn.metrics import jaccard_score

## Loading Data

Using pandas, we can load and inspect the training, validation, and testing datasets as follows:

In [2]:
df_train = pd.read_csv("../../data/affect-in-tweets/emotion-c/2018-E-c-Ar-train.txt", sep="\t")
df_dev = pd.read_csv("../../data/affect-in-tweets/emotion-c/2018-E-c-Ar-dev.txt", sep="\t")
df_test = pd.read_csv("../../private_datasets/emotion/emotion_no_labels_v1.0.tsv", sep="\t")

Below we list the 5 first entries in the training data.

In [3]:
df_train.head()

,ID,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
0,2018-Ar-00259,Ø¸Ù„ÙŠÙ†Ø§ Ù†ØªÙƒÙ„Ù… Ø³Ø§Ø¹Ø§Øª Ø³Ø§Ø¹Ø§Øª Ø±ØªØ¨Øª ÙÙŠÙ‡Ø§ Ù†ÙØ³ÙŠ ÙˆØ¨ÙƒÙŠØª Ù...,1,0,0,1,0,0,0,1,1,0,0
1,2018-Ar-02696,ÙƒÙ„ Ø³Ù†Ù‡ ÙˆØ§Ù†ØªÙŠ Ø¨Ø®ÙŠØ± ÙŠØ§Ù‚Ù„Ø¨ÙŠ ÙˆÙƒÙ„ Ø³Ù†Ù‡ ÙˆØ§Ù†ØªÙŠ Ø³Ø¹ÙŠØ¯Ù‡ ÙŠ...,0,0,0,0,1,1,1,0,0,0,0
2,2018-Ar-03596,Ø§Ù„Ø¨Ø³Ø·Ø§Ø¡ ÙŠÙ…ØªÙ„ÙƒÙˆÙ† Ø£Ø±ÙˆØ§Ø­ Ù†Ø§Ø¯Ø±Ù‡ Ø¬Ø¯Ø§ØªØ¬Ø¯Ù‡Ù… Ø¨Ù…Ø¸Ù‡Ø± Ù…ØªÙˆ...,0,0,0,0,0,1,1,0,0,0,0
3,2018-Ar-02999,Ù…ÙˆÙ…Ø¹Ù‚ÙˆÙ„ Ø§Ù„Ù„ÙŠ Ù‚Ø§Ø¹Ø¯ ÙŠØµÙŠØ± ÙÙŠÙ†ÙŠ Ù‡Ø§Ù„Ø§ÙŠØ§Ù… ÙŠØ§Ø±Ø¨ Ù…Ø§ÙŠÙ†Øª...,0,0,0,1,0,0,0,0,0,0,0
4,2018-Ar-02716,Ø§Ù†Ø§ Ø§ÙƒØ«Ø± Ø´Ø®Øµ Ù…ØªÙ†Ø§Ù‚Ø¶ Ø¨Ø¯Ø§Ø®Ù„ÙŠ Ø­Ø¨ ÙˆÙƒØ±Ù‡ ÙˆØ§Ù…Ù„ ÙˆÙ‚Ù†ÙˆØ· ...,1,0,0,0,0,0,0,0,1,0,0

And the 5 first entries in the development data.

In [4]:
df_dev.head()

,ID,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
0,2018-Ar-00289,Ø¨Ø§Ù‚ÙŠ Ù¡Ù Ø¯Ù‚Ø§ÙŠÙ‚ ÙˆØ§Ø®Ù„Øµ Ø­Ù„Ù‚Ø© Ø³ÙƒÙˆÙ„ Ø§Ù„Ø«Ø§Ù†ÙŠÙ‡ Ø¨Ø³ Ø§Ù„Ù†Øª ...,1,0,1,0,1,0,0,1,0,0,0
1,2018-Ar-02519,Ù…Ø¹Ø§Ù†Ø§Ø© Ù„Ù…Ø§ ÙŠÙƒÙˆÙ† Ø¯Ø§ÙŠÙ…Ø§Ù‹ Ø¥Ø­Ø³Ø§Ø³Ùƒ Ø¨Ù…Ø­Ù„Ù‡ .....,0,0,0,0,0,0,0,0,1,0,0
2,2018-Ar-01952,Ù„Ùˆ ÙÙŠÙ‡ Ø¬Ø§Ø¦Ø²Ù‡ Ø§ÙƒØ«Ø± Ù…ÙˆØ³ÙˆØ³Ù‡ ØªØ®Ø§Ù Ù…Ù† Ø§Ù„Ø§Ù…Ø±Ø§Ø¶ ÙØ²Øª Ø¨...,0,0,0,1,0,0,0,1,0,0,0
3,2018-Ar-02912,Ù…Ø§ ÙŠØ³ØªÙØ² Ø±Ø§Ø­Ø© Ø§Ù„Ø¨Ø§Ù„ Ø¥Ù„Ø§ Ø§Ù„Ø°ÙƒØ±ÙŠØ§Øª â˜¹ï¸ ğŸ’”,1,0,0,0,0,0,0,0,1,0,0
4,2018-Ar-02756,Ø§Ù„Ù‚Ù„Ø¨ ÙŠØ§ÙˆÙ‚Øª ÙˆØ§Ù„Ù†ÙØ³ Ù…Ø§Ù‡ÙŠ Ù…Ø±ØªØ§Ø­Ù‡ ÙˆÙ†Ø¨Ø¶ Ø§Ù„Ù‚Ù„Ø¨ Ù…Ø§Ù‡Ùˆ...,0,0,0,1,0,0,0,0,1,0,0

And last but not least, the first 5 entries in the test data.

In [5]:
df_test.head()

,ID,Tweet,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
0,17439,Ø¹ÙŠÙˆÙ†Ùƒ ØªÙ‡Ø¨Ù„ Ø¹ÙŠÙˆÙ†Ùƒ Ù‡ÙŠ Ø§Ù„Ø¢Ù„Ø¦ Ø§Ù„Ù„ÙŠ ØªØ¸ÙˆÙŠ Ø­ÙŠØ§ØªÙŠ Ù…Ø§ Ø§...,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
1,10196,ÙƒÙ… Ù‡Ùˆ Ù…ÙˆØ¬Ø¹ ÙÙŠ Ø¨Ø¹Ø¶ Ø§Ù„Ø§Ø­ÙŠØ§Ù† Ø§Ù† ÙŠØ¹Ù…Ù„ Ø§Ù„Ø§Ù†Ø³Ø§Ù† Ø¨Ø§ Ø·...,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
2,17470,Ø§Ù†Ø§ Ù‡ÙˆÙ„Ù†Ø¯ÙŠ Ø¹Ù†Ø¯ÙŠ Ù…Ù†Ø§Ø¹Ø© Ø¹Ø®ÙŠØ¨Ø§Øª Ø§Ù„Ø§Ù…Ù„... Ù…Ø§ ÙÙŠ Ø´ÙŠ...,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
3,16262,Ø§Ø­Ø§ Ø§Ù„Ù…Ø§Ù†ÙŠØ§ Ø®Ø±Ø¬Øª,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE
4,13597,ÙˆØ´ Ø§Ù„ÙŠ ØµØ§Ø± Ù…ØªÙ‰ Ø³Ø¬Ù„Øª Ø§Ù„Ø§Ø±Ø¬Ù†ØªÙŠÙ†,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE,NONE

## Model Preparation

We start by setting the randomisation seed:

In [6]:
tf.random.set_seed(123)

Next we load the Universal Sentence Encoder (WARNING: This will download and cache a huge model of around 1 GB in size)

In [7]:
embed = hub.load("https://tfhub.dev/google/universal-sentence-encoder-multilingual/3")

Then we define the input and output to the model:

In [8]:
sentence = keras.Input(shape=512, name='sentence')
label = keras.Input(shape=(11,), name='label')

This is followed by defining the structure of the network:

In [9]:
logits = keras.layers.Dense(512, activation=tf.nn.sigmoid)(sentence)
logits = keras.layers.Dense(512, activation=tf.nn.sigmoid)(logits)
logits = keras.layers.Dense(11, activation=tf.nn.sigmoid)(logits)

Then we construct and compile the model:

In [10]:
model = keras.Model(sentence, outputs=logits)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

## Model Training

First we perpare the inputs and outputs to be fed to the model during training:

In [11]:
X_train = embed(df_train["Tweet"])
Y_train = df_train[df_train.columns[2:]]
X_dev = embed(df_dev["Tweet"])
Y_dev = df_dev[df_dev.columns[2:]]

Next we fit the data:

In [12]:
model.fit(X_train,
          Y_train,
          epochs=5,
          batch_size=32,
          validation_data = (X_dev, Y_dev))

Epoch 1/5
72/72 [==============================] - 1s 6ms/step - loss: 0.5041 - accuracy: 0.2602 - val_loss: 0.4850 - val_accuracy: 0.3744
Epoch 2/5
72/72 [==============================] - 0s 2ms/step - loss: 0.4590 - accuracy: 0.2642 - val_loss: 0.4631 - val_accuracy: 0.3231
Epoch 3/5
72/72 [==============================] - 0s 2ms/step - loss: 0.4413 - accuracy: 0.3222 - val_loss: 0.4173 - val_accuracy: 0.5282
Epoch 4/5
72/72 [==============================] - 0s 3ms/step - loss: 0.4099 - accuracy: 0.4310 - val_loss: 0.4020 - val_accuracy: 0.4923
Epoch 5/5
72/72 [==============================] - 0s 3ms/step - loss: 0.3841 - accuracy: 0.4844 - val_loss: 0.3997 - val_accuracy: 0.5316

We calculate the Jaccard similarity score for the development set as follows:

In [13]:
jaccard_score(model.predict(X_dev)>0.5, Y_dev, average="macro")

0.21584681510804068

## Submission Preperation

We perpare the features for each testset instance as follows:

In [14]:
X_test = embed(df_test["Tweet"])

Then we predict the labels for each:

In [15]:
predictions = (model.predict(X_test)>0.5).astype(int)

We perpare the predictions as a pandas dataframe.

In [16]:
df_preds = pd.DataFrame(data=predictions, columns=df_train.columns[2:].tolist(), index=df_test["ID"])
df_preds.reset_index(inplace=True)

We explore the prediction dataframe:

In [17]:
df_preds.head()

,ID,anger,anticipation,disgust,fear,joy,love,optimism,pessimism,sadness,surprise,trust
0,17439,0,0,0,0,0,0,0,0,1,0,0
1,10196,1,0,0,0,0,0,0,0,0,0,0
2,17470,1,0,0,0,0,0,0,0,1,0,0
3,16262,1,0,0,0,0,0,0,0,1,0,0
4,13597,1,0,1,0,0,0,0,0,1,0,0

In the final step, we save the predictions as required by the competition guidelines.

In [18]:
if not os.path.exists("predictions"):
    os.mkdir("predictions")
df_preds.to_csv("./predictions/E_c.tsv", index=False, sep="\t")